
#form--block{
    margin-right: auto;
    margin-left: auto;
}

#form--input{
    /* background:#1B2122; */
    /* color: aliceblue; */
    
    border-width: 0;
}



#form--notification{
    display: inline-block;
    /* background-color:#282F4D ; */
    border-radius: 8px;
    border-width: 0;
    /* color: #BEC5EB; */
    cursor: pointer;
    display: inline-block; 
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 4px 15px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    touch-action: manipulation;
    pointer-events: none;
}

#form--notification.fade{
    display: inline-block;
    /* background-color:#282F4D ; */
    border-radius: 8px;
    border-width: 0;
    /* color: #BEC5EB; */
    cursor: pointer;
    display: inline-block; 
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 5px 15px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    touch-action: manipulation;
    pointer-events: none;
}

#form--button{
    font-family: inherit;
} 

/* #form--button{
      background-color: hsla(192, 22%, 26%, 0.75);
      border-radius: 8px;
      border-width: 0;
      color: #A0F5F5;
      cursor: pointer;
      display: inline-block;
      font-weight: 500;
      line-height: 20px;
      list-style: none;
      margin: 0;
      padding: 5px 15px;
      text-align: center;
      transition: all 200ms;
      vertical-align: baseline;
      white-space: nowrap;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      
}


/* 


#form--heading label{
    padding: 2em;
}

#form--heading p{
    color: rgb(142, 151, 151);
    font-style: italic;
}



#form--input:focus{
    outline-width: 0;
}
 */

 input[type="date"] { 
    background: transparent;
    border: none;
    color-scheme: dark;
  }

  input[type="date"]:focus-visible{
    outline: none;
  }


#dateHeader::-webkit-calendar-picker-indicator{
    filter: brightness(50%) !important;
    cursor: pointer;
    border-radius: 5px;
    font-size: larger;
}
  ::-webkit-calendar-picker-indicator{
    filter: brightness(0%) opacity(0%);
    cursor: pointer;
    border-radius: 5px;
    font-size: larger;
  }
