
#form--block{
    margin-right: auto;
    margin-left: auto;
}

#form--input{
    /* background:#1B2122; */
    /* color: aliceblue; */
    font-family: "Open Sans", sans-serif;
    border-width: 0;
}



#form--notification{
    opacity: 0;
    display: inline-block;
    background-color:#282F4D ;
    border-radius: 8px;
    border-width: 0;
    color: #BEC5EB;
    cursor: pointer;
    display: inline-block; 
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 5px 15px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    touch-action: manipulation;
    pointer-events: none;
}

#form--notification.fade{
    opacity: 1;
    display: inline-block;
    background-color:#282F4D ;
    border-radius: 8px;
    border-width: 0;
    color: #BEC5EB;
    cursor: pointer;
    display: inline-block; 
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 5px 15px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    touch-action: manipulation;
    pointer-events: none;
}


/* #form--button{
      background-color: hsla(192, 22%, 26%, 0.75);
      border-radius: 8px;
      border-width: 0;
      color: #A0F5F5;
      cursor: pointer;
      display: inline-block;
      font-weight: 500;
      line-height: 20px;
      list-style: none;
      margin: 0;
      padding: 5px 15px;
      text-align: center;
      transition: all 200ms;
      vertical-align: baseline;
      white-space: nowrap;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      
}

#form--button:hover{
    background-color:  hsla(194, 42%, 48%, 0.75);
} */
/* 


#form--heading label{
    padding: 2em;
}

#form--heading p{
    color: rgb(142, 151, 151);
    font-style: italic;
}



#form--input:focus{
    outline-width: 0;
}
 */
